<div class="servings-filter">
  <label for="servings">Servings:</label>
  <div class="servings-selector">
    <button
      class="primary-button small-button decrement"
      [disabled]="servings <= 1"
      (click)="decreaseServings()">
      -
    </button>
    <input
      class="input-number"
      type="number"
      id="servings"
      [(ngModel)]="servings"
      min="1"
      max="12"
      (ngModelChange)="onServingsChange(servings)">
    <button
      class="primary-button small-button increment"
      (click)="increaseServings()">
      +
    </button>
  </div>
</div>
