@use "variables" as *;


.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    label {
      width: 100%;
    }
  }
}