@use "variables" as *;

.input-text {
  width: auto;
  padding: 10px;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  font-size: 1rem;
  color: $color-text;
  background-color: $color-white;
  transition: border-color 0.3s;

  &:focus {
    border-color: $color-tertiary-500;
    outline: none;
    background: $color-secondary-050;

    &::placeholder {
      color: $color-text;
    }
  }

  &:hover {
    border: 1px solid $color-tertiary-500;
  }

  &::placeholder {
    color: $color-border;
  }
}

.input-number {
  width: 1.2rem;
  text-align: center;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: $color-white;
  transition: border-color 0.3s;
  -moz-appearance: textfield;

  &:focus {
    border-color: $color-tertiary-500;
    outline: none;
    background: $color-secondary-050;
  }

  &:hover {
    border-color: $color-tertiary-500;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.input-textarea {
  width: auto;
  padding: 10px;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  font-size: 1rem;
  color: $color-text;
  background-color: $color-white;
  transition: border-color 0.3s;
  resize: vertical;

  &:hover {
    border: 1px solid $color-tertiary-500;
  }

  &:focus {
    border: 1px solid $color-tertiary-500;
    outline: none;
    background: $color-secondary-050;

    &::placeholder {
      color: $color-text;
    }
  }

  &::placeholder {
    color: $color-border;
  }
}

.input-star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 5px;

  input {
    display: none;

    &:hover ~ label,
    &:hover ~ label ~ label,
    &:checked ~ label,
    &:checked ~ label ~ label {
      color: $color-secondary-500;
    }

    &:checked ~ label::before,
    &:hover ~ label::before {
      content: '★';
    }
  }

  label {
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.2s;
    color: $color-gray-300;

    &::before {
      content: '☆';
    }
  }
}

.input-favorite {
  .favorite-checkbox {
    display: none;
  }

  .favorite-label {
    font-size: 2rem;
    cursor: pointer;
    color: $color-tertiary-500;

    &:before {
      content: '\2764';
      color: $color-gray-300;
    }
  }

  .favorite-checkbox:checked + .favorite-label:before {
    content: '\2764';
    color: $color-tertiary-500;
  }
}
