@use "sass:color";
@use "../components/variables" as *;

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid $color-tertiary-200;
  border-radius: $border-radius;
  font-size: 1rem;
  color: $color-text;
  background-color: $color-white;
  transition: border-color 0.3s;

  &:focus {
    border-color: $color-tertiary-500;
    outline: none;
    box-shadow: 0 0 0 3px color.scale($color-tertiary-500, $lightness: 40%);
    background: $color-tertiary-050;

    &::placeholder {
      color: $color-text;
    }
  }

  &::placeholder {
    color: $color-border;
  }
}