@use 'shared-styles/styles/main';

app-root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

app-home,
app-navbar,
app-footer,
app-hero-section,
app-features-section,
app-image,
app-search-bar,
app-button,
app-input {
  display: contents;
}

.main-content {
  flex: 1;
  overflow: auto;
}

