@use 'shared-styles/styles/main';

app-root,
app-home,
app-register,
app-login,
app-navbar,
app-footer,
app-hero-section,
app-features-section,
app-form,
app-form-group,
app-image,
app-search-bar,
app-button,
app-input {
  display: contents;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: auto;
}

