<div class="ingredients-container">
  <app-servings-filter
    [(servings)]="servings"
    (servingsChange)="onServingsChange($event)">
  </app-servings-filter>

  <div class="ingredients">
    <label>Ingredients</label>
    <ul class="ingredient-list">
      <li class="ingredient" *ngFor="let ingredient of ingredients">
        <div class="ingredient-quantities">
          <span class="ingredient-quantity">{{ getScaledAmount(ingredient.amount) | number:'1.0-1' }}</span>
          <span class="ingredient-unit">{{ ingredient.unitShort }}</span>
        </div>
        <div class="ingredient-info">
          <span class="ingredient-name">{{ ingredient.nameClean }}</span>
          <img class="ingredient-image" [src]="ingredient.image" [alt]="ingredient.nameClean">
        </div>
      </li>
    </ul>
  </div>
</div>
