<div class="login">
  <h1>Login</h1>
  <app-form
    submitText="Login"
    [errorMessage]="errorMessage"
    [loading]="isLoading"
    (formSubmit)="onSubmit()">

    <app-form-group
      label="Email"
      type="email"
      name="email"
      [value]="email"
      (valueChange)="email = $event">
      <input #emailInput type="email" name="email" [value]="email" (input)="onEmailInput($event)" />
    </app-form-group>

    <app-form-group
      label="Password"
      type="password"
      name="password"
      [value]="password"
      (valueChange)="password = $event">
      <input #passwordInput type="password" name="password" [value]="password" (input)="onPasswordInput($event)" />
    </app-form-group>
  </app-form>
</div>
