@use "sass:color";
@use "../components/variables" as *;

.home {
  text-align: center;
  padding: 2rem;
}

.hero {
  background-color: $background-color;
  padding: 2rem;
  border-radius: $border-radius;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.accent-text {
  color: $accent-color;
  font-weight: bold;
  font-size: 3rem;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 500px;
  margin-top: 1rem;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border-radius: $border-radius;
  border: 1px solid $border-color;
}

.features {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;

  @media (max-width: 920px) {
    flex-direction: column;
    align-items: center;

    .feature {
      width: 450px;
    }
  }
}

.feature {
  background-color: $white;
  padding: 1.5rem;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  flex: 1;
}

.feature h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: $text-color;
}

.feature p {
  font-size: 1rem;
  color: $text-color-light;
}