@use "../components/variables" as *;

.home {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;

  h1 {
    font-size: 2.5rem;
  }

  p {
    color: $color-text;
    font-size: 1.2rem;
  }

  .app-logo {
    height: 120px;
  }

  .primary-text {
    color: $color-primary-700;
    font-size: 3rem;
  }

  .secondary-text {
    color: $color-secondary-700;
    font-size: 3rem;
  }

  .search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 500px;

    .input-text {
      flex: 1;
      padding: 10px;
      border-radius: $border-radius;
      width: 100%;
    }
  }
}

.features {
  display: flex;
  justify-content: space-around;
  text-align: center;
  gap: 1rem;
  flex-wrap: wrap;

  .feature {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    flex: 1;
    background-color: $color-gray-050;
  }

  @media (max-width: 920px) {
    flex-direction: column;
    align-items: center;

    .feature {
      width: calc(100% - 64px);
    }
  }
}