@use "sass:color";
@use "../components/variables" as *;

.home {
  text-align: center;
  padding: 2rem;
}

.hero {
  background-color: $color-background;
  padding: 2rem;
  border-radius: $border-radius;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  p {
    color: $color-text;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  .primary-text {
    color: $color-primary-700;
    font-size: 3rem;
  }

  .secondary-text {
    color: $color-secondary-700;
    font-size: 3rem;
  }

  .search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 500px;
    margin-top: 1rem;

    input {
      flex: 1;
      padding: 10px;
      border-radius: $border-radius;
    }
  }
}

.features {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;

  .feature {
    padding: 1.5rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    flex: 1;
    background-color: $color-gray-050;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      color: $color-gray-800;
    }

    p {
      font-size: 1rem;
      color: $color-gray-600;
    }
  }

  @media (max-width: 920px) {
    flex-direction: column;
    align-items: center;

    .feature {
      width: 450px;
    }
  }
}