@use "sass:color";
@use "../components/variables" as *;

.login {
  width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: $color-gray-050;
  box-shadow: $box-shadow;
  border-radius: $border-radius;

  h1 {
    color: $color-title;
    font-size: 2rem;
    margin: 0 0 2rem;
  }
}