@use "../components/variables" as *;

.search {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;

  .filters {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .dropdowns {
    display: flex;
    gap: 1rem;
  }

  .search-bar {
    display: flex;
    gap: 10px;
    width: 100%;

    .filters {
      display: flex;
      gap: 10px;
      margin: 0;
      width: 100%;
    }
  }

  @media (max-width: 924px) {
    .filters {
      flex-direction: column-reverse;
    }
    .search-input {
      width: 100%;
    }

    .dropdowns {
      flex-wrap: wrap;
      justify-content: space-between;

      .filter {
        width: calc(50% - 0.5rem);
      }
    }
  }

  .filter {
    display: flex;
    flex-direction: column;
    min-width: 155px;
    gap: 2px;

    label {
      padding-left: 4px;
    }

    &.results-filter {
      flex-direction: row;
      align-items: center;
      gap: 8px;
    }

    &.search-input {
      width: 100%;
      height: 40px;
      flex-direction: row;
      gap: 8px;
      padding-top: 20px;

      .input-text {
        width: 100%;
      }
    }

    .filter-dropdown {
      padding: 0.5rem;
      border-radius: $border-radius;
      border: 1px solid $color-gray-300;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }
}