<div class="card">
  <a [routerLink]="['/recipe', recipe.id]">
    <img [src]="recipe.image" [alt]="recipe.title + ' Image'">
    <div class="title">{{ recipe.title }}</div>
  </a>
  <div class="details">
    <span class="prep-time">Preparation time: {{ recipe.readyInMinutes }}</span>
    <span class="score">Score: {{ recipe.healthScore }}</span>
  </div>
  <div class="input-favorite" *ngIf="showFavoriteButton">
    <input
      type="checkbox"
      [id]="'favorite-' + recipe.id"
      class="favorite-checkbox"
      [checked]="isFavorite">
    <label
      [for]="'favorite-' + recipe.id"
      class="favorite-label"
      (click)="onToggleFavorite($event)">
    </label>
  </div>
</div>
