# Dependencias de Node.js
node_modules/

# Carpeta de salida de TypeScript (build)
dist/

# Archivos de log
logs/
*.log

# Archivos de entorno (no se deben subir datos sensibles)
.env
.env.*.local

# Archivos temporales o de compilación
*.tsbuildinfo

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Configuraciones de editores/IDE
.vscode/
.idea/
.vite/

# Directorios de cobertura de tests
coverage/

# Otros archivos temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
