<div class="register">
  <h1>Register</h1>
  <app-form
    submitText="Register"
    [errorMessage]="errorMessage"
    [loading]="isLoading"
    (formSubmit)="onSubmit()">

    <app-form-group
      label="Username"
      type="text"
      name="name"
      [value]="name"
      (valueChange)="name = $event">
    </app-form-group>

    <app-form-group
      label="Email"
      type="email"
      name="email"
      [value]="email"
      (valueChange)="email = $event">
    </app-form-group>

    <app-form-group
      label="Password"
      type="password"
      name="password"
      [value]="password"
      (valueChange)="password = $event">
    </app-form-group>

    <app-form-group
      label="Confirm Password"
      type="password"
      name="confirmPassword"
      [value]="confirmPassword"
      (valueChange)="confirmPassword = $event">
    </app-form-group>
  </app-form>
</div>
