@use "components/variables" as *;
@use "components/navbar";
@use "components/footer";
@use "components/buttons";
@use "components/cards";
@use "components/forms";
@use "components/grid";
@use "components/inputs";

@use "pages/home";
@use "pages/search";
@use "pages/recipe-detail";
@use "pages/favorites";
@use "pages/login";
@use "pages/register";

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  background-color: $color-background;
  color: $color-text;
  flex: 1;
}