<div class="instructions-container">
  <label>Instructions</label>
  <ng-container *ngIf="instructions$ | async as instructions">
    <div class="recipe-instructions" *ngIf="instructions.length">
      <ol class="instructions-steps">
        <ng-container *ngFor="let instructionGroup of instructions; let i = index">
          <ng-container *ngIf="instructionGroup.name">
            <h3>{{ instructionGroup.name }}</h3>
          </ng-container>
          <li *ngFor="let step of instructionGroup.steps" class="instruction-step">
            {{ step.step }}
          </li>
        </ng-container>
      </ol>
    </div>
    <div *ngIf="!instructions.length" class="no-instructions">
      No instructions available for this recipe.
    </div>
  </ng-container>
</div>
